@font-face {
    font-family: "ToyotaDisplay";
    src: url("./fonts/toyota_display/toyotadisplay_rg.eot");
    src: url("./fonts/toyota_display/toyotadisplay_rg.eot?#iefix") format("embedded-opentype"),
    url("./fonts/toyota_display/toyotadisplay_rg.woff") format("woff"),
    url("./fonts/toyota_display/toyotadisplay_rg.ttf") format("truetype"),
    url("./fonts/toyota_display/toyotadisplay_rg.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: ToyotaDisplay;
}

.title {
    margin: 20px auto 0;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.links .link {
    margin-top: 20px;
}

.component {
    height: 100%;
    width: 100%;
    display: block;
}

.component.first-component {
    background-image: url("./images/index.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: -100px;
}

.first-component--inside-scroller {
    position: absolute;
    right: 20px;
    top: 100px;
}

h2 {
    margin: auto;
    text-align: center;
}

.pagination-additional-class {
    margin: 0;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
    margin-right: 50px;
}

.demo-page-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.demo-page-contain__hint {
    margin-bottom: 20px;
}

.logo {
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
    background: #fff;
    z-index: 5;
    box-shadow: 0px -11px 11px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 110px;
}

.index-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.versus {
    font-family: 'Klavika Bold';
    font-size: 11rem;
}

.versus-detail {
    font-family: 'Klavika Bold';
    font-size: 2.7rem;
}

.versus-container {
    line-height: 1rem;
    margin-bottom: 10px;
}


span.versus-desc-text {
    font-family: 'Klavika';
    font-size: 0.93rem;
    display: block;
    margin-top: -11px;
}

.versus-desc {
    font-family: 'Klavika Bold';
    font-size: 2.7rem;
}

.versus-desc-container {
    margin-bottom: 45px;
    padding-left: 20px;
}

.page-nums {
    position: fixed;
    bottom: 0;
    right: 10%;
    color: #fff;
}

.page-nums ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
}

.page-nums ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #fff;
    padding-left: 20px;
    font-family: 'Klavika Bold';
    font-size: 34px;
    color: #77787b;
    position: relative;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.page-nums ul li.active:before {
    content: ' ';
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 2px;
    background: #52555a;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

button.operation {
    margin-bottom: 45px;
    background: 0;
    border: 0;
    outline: 0;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
    font-weight: bold;
    width: 100px;
    height: 100px;
}

.operation img {
    width: 25px;
    display: inline-block;
    margin-top: 15px;
}

.component.second-component {
    background-image: url(./images/bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.component.third-component {
    background-image: url(./images/bg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.component.fourth-component {
    background-image: url(./images/bg4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.component.fifth-component {
    background-image: url(./images/bg5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.white-nums {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.white-nums ul li {
    color: #fff;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.white-nums ul li.active:before {
    background: #fff;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.component h3 {
    display: block;
    margin-bottom: 3px;
    font-size: 40px;
    color: #fff;
    font-family: ToyotaDisplay;
    font-weight: bold;
}

.component p {
    font-size: 22px;
    color: #fff;
    opacity: 0.9;
}

.btn-toyota {
    display: inline-block;
    width: 40%;
    background: transparent;
    border: 3px solid #fff;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    line-height: 88px;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.tick {
    position: absolute;
    right: 20px;
    top: 10px;
    background: #00c9ff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.tick img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px !important;
}


.second-component-second-header {
    margin-top: 15px;
}

.fourth-component .tick {
    background: #2249d0;
}

.fifth-component .tick {
    background: #2249d0;
}

.btn-toyota:focus {
    outline: 0;
    box-shadow: unset;
}

.btn-toyota:hover {
    background: #fff;
    color: #00c9ff !important;
}

.btn-toyota-checked {
    background: #fff;
    color: #00c9ff !important;
}

.three-buttons .btn-toyota {
    width: 28%;
    font-size: 30px;
    margin-top: 5px;
}

.fourth-component button.btn-toyota:hover {
    color: #2249d0 !important;
}

.fourth-component .btn-toyota-checked {
    color: #2249d0 !important;
}


.fifth-component button.btn-toyota:hover {
    color: #2249d0 !important;
}

.fifth-component .btn-toyota-checked {
    color: #2249d0 !important;
}

.fifth-component button.btn.btn-toyota {
    width: 30%;
}

.sixth-component h3 {
    color: #222222;
}

.sixth-component p {
    color: #222222;
    font-size: 21px;
}

.sixth-component {
    padding-top: 0px;
    overflow: scroll;
}

.marg-60 {
    margin-top: 60px;
}

.sixth-component .col-sm-2 {
    padding-right: 0;
    max-width: 12%;
}

.btn-result {
    border: 1px solid #ff0000;
    width: calc(50% - 10px);
    margin-right: 10px;
    border-radius: 30px;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #ff0000;
}

.btn-result:hover {
    background: #ff0000;
    color: #fff;
}

button.detailed-report {
    border: 0;
    width: 100%;
    text-align: left;
    background: #eeeeee;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    line-height: 37px;
    position: relative;
}

button.detailed-report {
    outline: unset;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
}

span.detailed-report-icon img {
    height: 17px;
}

svg.donutchart {
    -webkit-filter: drop-shadow(1px 5px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(1px 5px 3px rgba(0, 0, 0, 0.4));
}

span.detailed-report-icon {
    background: #ff0000;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    line-height: 10px;
    top: -3px;
}

.donutchart-track {
    fill: transparent;
    stroke: #fff;
    stroke-width: 26;
}

.donutchart-indicator {
    fill: transparent;
    stroke: #ff0000;
    stroke-width: 20;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray .3s ease;
    stroke-linecap: round;
}

.donutchart {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
}


.donutchart-text {
    font-family: 'Roboto';
    fill: #607580;
}

.donutchart-text-val {
    font-size: 22px;
}

.donutchart-text-percent {
    font-size: 14px;
}

.donutchart-text-label {
    font-size: 9px;
}

.chartLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff0000;
    font-weight: bold;
    font-size: 60px;
    width: 100%;
    text-align: center;
}

span.chartLabelMin {
    font-size: 32px;
    margin-left: 2px;
}

.details {
    margin-top: 30px;
    margin-bottom: 30px;
}

.car-content {
    padding-left: 10px;
}

span.car-name {
    font-size: 16px;
    display: block;
    margin-top: 25px;
    color: #5f5f5f;
}

.car-content {
    padding-left: 10px;
}

span.car-details {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: block;
}

span.car-alert-error {
    font-size: 10px;
    color: #ff0000;
    font-weight: bold;
}

.black-nums ul li {
    border-left: 1px solid #77787b;
}

.did-try-call .col-sm-2 {
    padding-right: 0px;
    max-width: 13% !important;
    flex: 0 0 19.666667%;
}

.did-try-call {
    margin-top: 15px;
    font-size: 20px;
}

.did-try {
    margin-top: 60px;
    padding-right: 15px;
    font-size: 20px;
    width: 100%;
}

.car-detailed-desc {
    background: #f0efef;
    padding: 30px 40px;
    margin-top: 30px;
}

.call-icon {
    height: 10px;
    margin-left: 5px;
    margin-top: -2px;
}

table.table p {
    font-size: 12px;
    font-weight: bold;
}

table.table {
    font-size: 12px;
    font-weight: bold;
}

.special-header {
    background: #ff0000;
    display: block;
    color: #fff;
    padding: 5px 8px 2px 12px;
    border-radius: 15px;
    width: 140px;
    margin-bottom: 26px;
}

button.detailed-report:hover {
    background: #ff0000;
    color: #fff;
}

.table td, .table th {
    border-top: 0;
}

table.table {
    font-size: 12px;
    font-weight: bold;
    margin-left: -.75rem;
    margin-right: -.75rem;
}

.detailed-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.detailed-section:nth-child(even) {
    background: #f7f7f7;
}

.small-info {
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
}

.line-box {
    border-right: 1px solid #ededed;
    padding-right: 5px;
}

.line-box table.table td {
    padding: 0;
    padding-left: 15px;
}

.detailed-section .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 0px !important;
}

.sixth-component .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.show-on-mobile {
    display: none;
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    max-width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    background: #ff0000;
    z-index: 999990;
}

.closeIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.temiz-containe .container {
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sticky-banner {
    position: fixed;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, 0.75);

}

.make-test-drive {
    background: rgb(0, 53, 103);
    background: linear-gradient(180deg, rgba(0, 53, 103, 1) 0%, rgba(0, 147, 223, 1) 100%);
    color: #fff;
    border: 0;
    padding: 0 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

button.make-test-drive:focus {
    outline: 0;
}

.make-test-drive .make-test-drive-img {
    width: 30px;
    margin-top: 5px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.make-test-drive span {
    margin-top: 0px;
    display: block;
    line-height: 40px;
    float: right;
}

img.make-test-drive-ico {
    float: right;
    width: 10px;
    transform: rotate(-90deg);
    margin-top: 15px;
    margin-left: 10px;
}

.first-td {
    width: 40%;
}

.second-td {
    width: 40%;
}

.buying-price-included {
    margin-top: 30px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #ff0100;
}

button.detailed-report-car-desc {
    border: 0;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 16px;
    padding: 5px 35px;
    font-weight: bold;
    color: #fff;
    background: #ff0000;
    margin-top: 20px;
}

button.detailed-report-car-desc.active {
    opacity: 0.5;
}

p.legal-information {
    font-size: 15px;
    text-decoration: underline;
    margin-top: 20px;
    cursor: pointer;
}

.car-price {
    position: relative;
}

p.customer-info {
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.lds-grid {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ff0000;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.overlay-2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    z-index: 9999;
}

.fifth-component button.btn.btn-toyota.btn-toyo-spec {
    width: 55% !important;
    line-height: 44px !important;
}

.legal-popup {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 13px;
    z-index: 4;
}

.legal-popup-text {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

button.cross-exit {
    background: 0;
    border: 0;
    position: absolute;
    right: 0;
    top: -100px;
}

.legal-popup-text {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

button.cross-exit img {
    height: 20px;
}

.advantage {
    color: #ff0000;
}

select.form-control.select-options {
    height: 1.5em;
}

.edit-btn {
    border: 0;
    background: 0;
    display: inline-block;
}

@media all and (max-width: 760px) {
    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }


    .component.first-component {
        background-image: url("./images/mobile_index.jpg");
        background-size: contain;
        background-position-y: 20%;
    }

    .component.first-component:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40vh;
        background: #080b13;
        z-index: -1;
    }

    .logo {
        bottom: unset;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }

    .logo img {
        width: 50px;
    }

    .versus {
        font-size: 6rem;
    }

    .versus-detail {
        font-size: 1.7rem;
    }

    .versus-desc-container {
        padding: 0;
        margin-bottom: 20%;
    }

    .versus-desc {
        font-size: 1.51rem;
        padding-bottom: 10px;
    }

    .row.index-content {
        width: 319px;
        max-width: 100%;
        left: 50%;
        top: 45%;
        transform: translateX(-44%);
    }

    .versus-container {
        line-height: 1rem;
        margin-bottom: 7%;
    }

    span.versus-desc-text {
        font-family: arial;
        font-size: 0.77rem;
        display: block;
        line-height: 1rem;
        margin-top: 0;
    }

    .page-nums ul li {
        font-size: 0;
        padding-top: 37px;
        padding-bottom: 37px;
    }

    .page-nums ul {
        top: 15%;
        float: unset;
        position: fixed;
        right: 2%;
    }

    button.operation {
        float: unset;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 5%;
        height: auto;
        width: auto;
        margin-right: 0;
        font-size: 15px !important;
        margin-bottom: 6px;
    }

    .operation img {
        width: 21px;
        display: inline-block;
        margin-top: 5px;
    }

    .hide-on-mobile {
        display: none;
    }

    .operation span.mobile {
        font-weight: lighter;
        font-style: italic;
    }

    .component h3 {
        font-size: 25px;
    }

    .component .container {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 80px;
    }

    .component p {
        font-size: 16px;
    }

    .btn-toyota {
        width: 100%;
        line-height: 45px;
        font-size: 18px;
    }

    h3.second-component-second-header {
        font-size: 20px;
    }


    .page-nums {
        position: fixed;
        bottom: 0;
        right: 0;
        color: #fff;
        width: 100%;
    }

    .third-component .btn-toyota {
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;
    }

    .three-buttons .btn-toyota {
        width: 100%;
        line-height: 26px;
        font-size: 18px;
        margin-top: 7px;
        margin-bottom: 0;
    }

    .fifth-component button.btn.btn-toyota {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .did-try {
        position: static;
    }


    span.car-name {
        font-size: 13px;
    }

    span.car-details {
        font-size: 13px;
    }

    .buying-price-included {
        font-size: 13px;
        margin-top: 20px;
    }

    span.car-alert-error {
        font-size: 7px;
    }

    .first-td {
        width: 60%;
    }

    .second-td {
        width: 35%;
    }

    .legal-popup-text {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
}

@media all and (max-width: 425px) {
    span.special-header {
        width: 100%;
        font-size: 7px !important;;
        margin-bottom: 5px !important;;
    }

    .car-price table span img {
        width: 40px !important;
    }

    .car-price table {
        font-size: 10px !important;
        margin-right: 0;
        margin-left: 0;
    }

    .car-price table.table p {
        font-size: 9px !important;
        line-height: 9px !important;
        font-weight: bold;
    }

    .car-price .table td {
        padding: 8px;
    }

    .detailed-section table span img {
        width: 40px !important;
    }

    .detailed-section table {
        font-size: 10px !important;
        margin-bottom: 0;
        margin-top: 0;
    }

    .detailed-section table.table p {
        font-size: 9px !important;
        line-height: 9px !important;
        font-weight: bold;
    }

    .detailed-section .table td {
        padding: 8px;
    }

    .component p {
        font-size: 14px !important;
        line-height: 15px;
    }

    .chartLabel {
        font-size: 50px;
    }

    .did-try-call .col-9 {
        font-size: 18px;
    }

    button.btn.btn-result {
        padding-left: 0;
        text-align: center;
        padding-right: 0;
    }

    button.detailed-report {
        margin-bottom: 15px;
    }

    .did-try {
        bottom: 0;
        padding-right: 0px;
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
    }

    .sixth-component {
        padding-bottom: 0px;
        position: relative;
    }

    .static-logo {
        bottom: unset;
        position: relative;
        top: unset;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        box-shadow: 0px -11px 11px rgba(0, 0, 0, 0.1);
    }

    .static-logo img {
        width: 50px;
    }

    .sixth-component .container {
        margin-top: 0;
        padding-top: 30px;
    }

    .sticky-banner .container {
        padding: 0;
    }

    .sticky-banner {
        margin-top: -90px;
    }

    .car-detailed-desc {
        font-size: 14px;
    }
}

.did-try-call {
    cursor: pointer;
}
